name: Profile QA - changed files
on: push

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Get changed profiles
        id: get-changes
        run: |
          changed_profiles=$(git diff --name-only origin/main -- resources/zib-* resources/ext-*)
          echo "::set-output name=changed_profiles::"$changed_profiles
          echo "::set-output name=changed_examples::$(git diff --name-only origin/main -- examples)"

      - name: Restore validator cache
        uses: actions/cache@v2
        with:
          path: ~/.fhir/packages
          key: fhir-cache

      - name: Install Firely Terminal
        run: dotnet tool install -g firely.terminal
      - name: Create snapshots in JSON format
        run: |
          pwd
          mkdir flattened
          cd flattened
          ln -s ../package.json
          ln -s ../fhirpkg.lock.json
          for f in $(find ../resources -name "*.xml"); do ln -s $f; done
          
          fhir install hl7.fhir.r4.core 4.0.1
          mkdir ../snapshots
          for sd in ${{ steps.get-changes.outputs.changed_profiles }}; do
            base=$(basename $sd .xml);
            fhir push $base.xml
            fhir snapshot
            fhir save ../snapshots/$base.json --json
          done
          cd ..
          pwd
      - name: Check zib compliance
        uses: pieter-edelman-nictiz/zib-compliance-fhir@action
        with:
          max-file: qa/zibs2020.max
          structuredefinitions: snapshots/*
          zib-release: 2020
          fail-at: warning
          zib-deviations: known-issues.yml

      - name: Create ig with the ProfileGuidelines resource
        run: |
          mkdir ig
          cd ig
          ln -s ../resources
          ln -s ../qa/ProfilingGuidelinesR4.xml
          cd ..
      - name: Validate profiles
        uses: pieter-edelman-nictiz/hl7-fhir-validator-action@v0.13
        with:
          version: "4.0"
          ig: ig/
          recurse: true
          profile: https://informatiestandaarden.nictiz.nl/wiki/FHIR:V1.0_FHIR_Profiling_Guidelines_R4
          source:  ${{ steps.get-changes.outputs.changed_profiles }}
          fail-at: warning
          ignored-issues: known-issues.yml
      - name: Validate examples
        uses: pieter-edelman-nictiz/hl7-fhir-validator-action@v0.13
        with:
          version: "4.0"
          ig: resources/
          recurse: true
          source:  ${{ steps.get-changes.outputs.changed_examples }}
          fail-at: warning
          ignored-issues: known-issues.yml



